node-red/english_example.txt
[{"id":"f9f35c6.8660b2","type":"api-call-service","z":"4c35a9de.208508","name":"Light office 100% ","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.eriks_kontor_level_light_color_on_off","data":"{\"brightness\":\"254\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":1720,"wires":[[]]},{"id":"fc24eca3.0cb5d","type":"api-call-service","z":"4c35a9de.208508","name":"Light office off","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.eriks_kontor_level_light_color_on_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":2120,"wires":[[]]},{"id":"100b15ae.746742","type":"mqtt in","z":"4c35a9de.208508","name":"","topic":"Mycroft/#","qos":"2","datatype":"json","broker":"5c22b51d.91138c","x":240,"y":1500,"wires":[["154a6a40.e6862e"]]},{"id":"e397a705.05baf","type":"api-call-service","z":"4c35a9de.208508","name":"Light hallway 100% ","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gang_oppe_level_light_color_on_off","data":"{\"brightness\":\"254\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":1780,"wires":[[]]},{"id":"b740c670.0dba88","type":"api-call-service","z":"4c35a9de.208508","name":"Light hallway off","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.gang_oppe_level_light_color_on_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":2180,"wires":[[]]},{"id":"53df8aa7.8e7294","type":"api-call-service","z":"4c35a9de.208508","name":"Okidoki","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"notify","service":"mycroft","entityId":"","data":"{\"message\": \"okey!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":2160,"wires":[[]]},{"id":"154a6a40.e6862e","type":"switch","z":"4c35a9de.208508","name":"Regex first word","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^(turn).on.*","vt":"str","case":true},{"t":"regex","v":"^(turn).off.*","vt":"str","case":true},{"t":"regex","v":"^(write|add|put).*","vt":"str","case":true},{"t":"regex","v":"^(remove).*","vt":"str","case":true},{"t":"regex","v":"^(play.news).*","vt":"str","case":true},{"t":"regex","v":"^(what.is|whats).*","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":6,"x":400,"y":1500,"wires":[["fe858585.50514"],["a85b3df4.5d63c"],["fe4b6b86.64e858"],["67d29085.c90de"],["1a90049.6fc93fb"],["a330c26e.c5c9e8"]]},{"id":"953fa382.cffce8","type":"switch","z":"4c35a9de.208508","name":"Regex device","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":".*(office|the.office).*","vt":"str","case":true},{"t":"regex","v":".*(hallway|hallway.upstairs).*","vt":"str","case":true},{"t":"regex","v":".*(movielight|movie.light).*","vt":"str","case":true},{"t":"regex","v":".*(evening.light).*","vt":"str","case":true},{"t":"regex","v":".*(daylight|day.light).*","vt":"str","case":true},{"t":"regex","v":".*(tv|television|telly).*","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":6,"x":520,"y":1800,"wires":[["f9f35c6.8660b2"],["e397a705.05baf"],["e61029ac.9d2e18"],["a4812507.e2a9e8"],["4311a3fc.cc6474"],["11962cd.0e46653"]]},{"id":"62ed0cba.cd8d6c","type":"string","z":"4c35a9de.208508","name":"Remove commands","methods":[{"name":"strip","params":[{"type":"str","value":"add"}]},{"name":"strip","params":[{"type":"str","value":"set"}]},{"name":"strip","params":[{"type":"str","value":"put"}]},{"name":"strip","params":[{"type":"str","value":"shoppinglist"}]},{"name":"strip","params":[{"type":"str","value":"\""}]},{"name":"strip","params":[{"type":"str","value":"on"}]},{"name":"strip","params":[{"type":"str","value":"list"}]},{"name":"strip","params":[{"type":"str","value":"shopping"}]},{"name":"strip","params":[{"type":"str","value":"to"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":340,"y":2700,"wires":[["45c398c2.6acd6"]]},{"id":"77e9a45.8705f5c","type":"api-call-service","z":"4c35a9de.208508","name":"Add to list","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"shopping_list","service":"add_item","entityId":"","data":"{\"name\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":2760,"wires":[["e39a90bd.f4f9b"]]},{"id":"60f0e44.8e1289c","type":"switch","z":"4c35a9de.208508","name":"Remove empty payloads","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^(?![\\s\\S])","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":2760,"wires":[[],["77e9a45.8705f5c"]]},{"id":"2b54c30e.6adf84","type":"string","z":"4c35a9de.208508","name":"Captitalize","methods":[{"name":"capitalize","params":[]},{"name":"strip","params":[{"type":"str","value":"0"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":890,"y":2700,"wires":[["60f0e44.8e1289c"]]},{"id":"45c398c2.6acd6","type":"split","z":"4c35a9de.208508","name":"","splt":"  and ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":2700,"wires":[["a308ae16.30da9"]]},{"id":"a308ae16.30da9","type":"string","z":"4c35a9de.208508","name":"Remove lead/trail space","methods":[{"name":"chompLeft","params":[{"type":"str","value":" "}]},{"name":"chompLeft","params":[{"type":"str","value":" "}]},{"name":"chompRight","params":[{"type":"str","value":" "}]},{"name":"chompRight","params":[{"type":"str","value":" "}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":690,"y":2700,"wires":[["2b54c30e.6adf84"]]},{"id":"fcc1df05.509d98","type":"string","z":"4c35a9de.208508","name":"Remove commands","methods":[{"name":"strip","params":[{"type":"str","value":"fjern"}]},{"name":"strip","params":[{"type":"str","value":"ta bort"}]},{"name":"strip","params":[{"type":"str","value":"handlelisten"}]},{"name":"strip","params":[{"type":"str","value":"\""}]},{"name":"strip","params":[{"type":"str","value":"fra"}]},{"name":"strip","params":[{"type":"str","value":"handleliste"}]},{"name":"strip","params":[{"type":"str","value":"legg til"}]},{"name":"strip","params":[{"type":"str","value":"handlelista"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":340,"y":2900,"wires":[["4443e09d.db9ec8"]]},{"id":"4443e09d.db9ec8","type":"split","z":"4c35a9de.208508","name":"","splt":"  and ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":2900,"wires":[["b951bbb7.3db37"]]},{"id":"ad2e7314.1ec13","type":"string","z":"4c35a9de.208508","name":"Captitalize","methods":[{"name":"capitalize","params":[]},{"name":"strip","params":[{"type":"str","value":"0"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":890,"y":2900,"wires":[["aa0e3ecc.fafbe8"]]},{"id":"b951bbb7.3db37","type":"string","z":"4c35a9de.208508","name":"Remove lead/trail space","methods":[{"name":"chompLeft","params":[{"type":"str","value":" "}]},{"name":"chompLeft","params":[{"type":"str","value":" "}]},{"name":"chompRight","params":[{"type":"str","value":" "}]},{"name":"chompRight","params":[{"type":"str","value":" "}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":690,"y":2900,"wires":[["ad2e7314.1ec13"]]},{"id":"8f7dbab7.92e26","type":"api-call-service","z":"4c35a9de.208508","name":"Remove from list","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"shopping_list","service":"complete_item","entityId":"","data":"{\"name\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":610,"y":2820,"wires":[["ac59f736.adca88"]]},{"id":"b64b4636.b2f048","type":"string","z":"4c35a9de.208508","name":"Remove command","methods":[{"name":"strip","params":[{"type":"str","value":"turn"}]},{"name":"strip","params":[{"type":"str","value":"on"}]},{"name":"strip","params":[{"type":"str","value":"the"}]},{"name":"strip","params":[{"type":"str","value":"light"}]},{"name":"strip","params":[{"type":"str","value":"off"}]},{"name":"chompLeft","params":[{"type":"str","value":" "}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":330,"y":1880,"wires":[["953fa382.cffce8","79263172.38eea"]]},{"id":"7f8fee60.3ebd78","type":"switch","z":"4c35a9de.208508","name":"Regex device","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":".*(office|the.office).*","vt":"str","case":true},{"t":"regex","v":".*(hallway|hallway.upstairs).*","vt":"str","case":true},{"t":"regex","v":".*(all.light).*","vt":"str","case":true},{"t":"regex","v":".*(tv|television|telly).*","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":4,"x":520,"y":2240,"wires":[["fc24eca3.0cb5d"],["b740c670.0dba88"],["f91fcab1.4b955"],["28552583.ca1182"]]},{"id":"aa0e3ecc.fafbe8","type":"switch","z":"4c35a9de.208508","name":"Remove empty payloads","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^(?![\\s\\S])","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":2820,"wires":[[],["8f7dbab7.92e26"]]},{"id":"1a695fd5.ab9838","type":"string","z":"4c35a9de.208508","name":"Remove command","methods":[{"name":"strip","params":[{"type":"str","value":"what is"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":330,"y":2460,"wires":[["c3334e18.e94fe8"]]},{"id":"c3334e18.e94fe8","type":"switch","z":"4c35a9de.208508","name":"Regex device","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":".*(temperature.outside).*","vt":"str","case":true},{"t":"regex","v":".*(temperature.inside).*","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":2460,"wires":[["2d9dbd6c.8e58aa"],["7dd1545d.325674"]]},{"id":"2d9dbd6c.8e58aa","type":"api-current-state","z":"4c35a9de.208508","name":"Temp outside?","server":"215c2d51.4e4e8a","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.temperatur_ute","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":740,"y":2460,"wires":[["bd12e346.7594f8"]]},{"id":"7dd1545d.325674","type":"api-current-state","z":"4c35a9de.208508","name":"Temp inside?","server":"215c2d51.4e4e8a","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.temperatur_inne","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":730,"y":2520,"wires":[["4de6abb9.bf6644"]]},{"id":"98f0cb8c.823d4","type":"api-call-service","z":"4c35a9de.208508","name":"Temp outside","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"notify","service":"mycroft","entityId":"","data":"{\"message\":\"Temperature outside is {{payload}} degrees\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":2460,"wires":[[]]},{"id":"caf2a613.2745","type":"api-call-service","z":"4c35a9de.208508","name":"Temp inside","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"notify","service":"mycroft","entityId":"","data":"{\"message\":\"Temperature inside is {{payload}} degrees\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":2520,"wires":[[]]},{"id":"f91fcab1.4b955","type":"api-call-service","z":"4c35a9de.208508","name":"Scene: all light upstairs","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.scene_alt_lys_oppe_av","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":870,"y":2240,"wires":[[]]},{"id":"4311a3fc.cc6474","type":"api-call-service","z":"4c35a9de.208508","name":"Scene: Day light","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.scene_daglys","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":1960,"wires":[[]]},{"id":"e61029ac.9d2e18","type":"api-call-service","z":"4c35a9de.208508","name":"Scene: Movie light","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.scene_filmlys","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":1840,"wires":[[]]},{"id":"a4812507.e2a9e8","type":"api-call-service","z":"4c35a9de.208508","name":"Scene: Evening light","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.scene_kveldslys","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":1900,"wires":[[]]},{"id":"16f11659.d8f612","type":"api-call-service","z":"4c35a9de.208508","name":"Play news","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.spill_nyheter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":300,"y":2520,"wires":[["17305431.8aef0c"]]},{"id":"17305431.8aef0c","type":"api-call-service","z":"4c35a9de.208508","name":"Okidoki","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"notify","service":"mycroft","entityId":"","data":"{\"message\": \"okey!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":2520,"wires":[[]]},{"id":"cded7a18.a2d13","type":"api-call-service","z":"4c35a9de.208508","name":"Turn on TV","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_on","entityId":"media_player.samsung_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":2020,"wires":[[]]},{"id":"11962cd.0e46653","type":"api-call-service","z":"4c35a9de.208508","name":"Turn on Apple TV","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_play","entityId":"media_player.stua","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":2020,"wires":[["cded7a18.a2d13"]]},{"id":"28552583.ca1182","type":"api-call-service","z":"4c35a9de.208508","name":"turn off TV","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.samsung_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":2300,"wires":[[]]},{"id":"513bd75f.7b701","type":"link in","z":"4c35a9de.208508","name":"","links":["67d29085.c90de"],"x":195,"y":2900,"wires":[["fcc1df05.509d98"]]},{"id":"67d29085.c90de","type":"link out","z":"4c35a9de.208508","name":"","links":["513bd75f.7b701"],"x":575,"y":1540,"wires":[]},{"id":"25aa57ef.e7a298","type":"link in","z":"4c35a9de.208508","name":"","links":["fe4b6b86.64e858"],"x":195,"y":2700,"wires":[["62ed0cba.cd8d6c"]]},{"id":"fe4b6b86.64e858","type":"link out","z":"4c35a9de.208508","name":"","links":["25aa57ef.e7a298"],"x":575,"y":1500,"wires":[]},{"id":"e662b2c6.dbf0e8","type":"link in","z":"4c35a9de.208508","name":"","links":["a85b3df4.5d63c"],"x":195,"y":2160,"wires":[["7c2f4f40.21f038"]]},{"id":"a85b3df4.5d63c","type":"link out","z":"4c35a9de.208508","name":"","links":["e662b2c6.dbf0e8"],"x":575,"y":1460,"wires":[]},{"id":"9ad0ee36.b6c828","type":"link in","z":"4c35a9de.208508","name":"","links":["fe858585.50514"],"x":195,"y":1880,"wires":[["b64b4636.b2f048"]]},{"id":"fe858585.50514","type":"link out","z":"4c35a9de.208508","name":"","links":["9ad0ee36.b6c828"],"x":575,"y":1420,"wires":[]},{"id":"47a21d0e.1417fc","type":"link in","z":"4c35a9de.208508","name":"","links":["1a90049.6fc93fb"],"x":195,"y":2520,"wires":[["16f11659.d8f612"]]},{"id":"1a90049.6fc93fb","type":"link out","z":"4c35a9de.208508","name":"","links":["47a21d0e.1417fc"],"x":575,"y":1580,"wires":[]},{"id":"426cb33b.5fa93c","type":"link in","z":"4c35a9de.208508","name":"","links":["a330c26e.c5c9e8"],"x":195,"y":2460,"wires":[["1a695fd5.ab9838"]]},{"id":"a330c26e.c5c9e8","type":"link out","z":"4c35a9de.208508","name":"","links":["426cb33b.5fa93c"],"x":575,"y":1620,"wires":[]},{"id":"79263172.38eea","type":"api-call-service","z":"4c35a9de.208508","name":"Okidoki","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"notify","service":"mycroft","entityId":"","data":"{\"message\": \"okey!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":520,"y":1880,"wires":[[]]},{"id":"9ce861b3.f9d1c","type":"comment","z":"4c35a9de.208508","name":"Turn things off","info":"","x":260,"y":2100,"wires":[]},{"id":"eae726b3.2f7598","type":"comment","z":"4c35a9de.208508","name":"Turn things on","info":"","x":260,"y":1780,"wires":[]},{"id":"2507d151.188736","type":"comment","z":"4c35a9de.208508","name":"Report temperature","info":"","x":270,"y":2400,"wires":[]},{"id":"a11a0c8c.e7a078","type":"comment","z":"4c35a9de.208508","name":"Manage shopping list","info":"","x":280,"y":2640,"wires":[]},{"id":"13f7efa7.bc1bf","type":"comment","z":"4c35a9de.208508","name":"Route commands","info":"","x":260,"y":1420,"wires":[]},{"id":"bd12e346.7594f8","type":"change","z":"4c35a9de.208508","name":"point","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":"point","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2460,"wires":[["98f0cb8c.823d4"]]},{"id":"4de6abb9.bf6644","type":"change","z":"4c35a9de.208508","name":"point","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":"point","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":2520,"wires":[["caf2a613.2745"]]},{"id":"e39a90bd.f4f9b","type":"join","z":"4c35a9de.208508","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"  and ","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":770,"y":2760,"wires":[["f1e04719.a579c"]]},{"id":"f1e04719.a579c","type":"api-call-service","z":"4c35a9de.208508","name":"Added X ","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"notify","service":"mycroft","entityId":"","data":"{\"message\":\"I have added {{payload}} to the shopping list\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":2760,"wires":[[]]},{"id":"ac59f736.adca88","type":"join","z":"4c35a9de.208508","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"  and ","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":770,"y":2820,"wires":[["43bb4248.bba044"]]},{"id":"43bb4248.bba044","type":"api-call-service","z":"4c35a9de.208508","name":"Removed X ","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"notify","service":"mycroft","entityId":"","data":"{\"message\":\"I have removed {{payload}} from the shopping list\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":2820,"wires":[[]]},{"id":"7c2f4f40.21f038","type":"string","z":"4c35a9de.208508","name":"Remove command","methods":[{"name":"strip","params":[{"type":"str","value":"turn"}]},{"name":"strip","params":[{"type":"str","value":"on"}]},{"name":"strip","params":[{"type":"str","value":"the"}]},{"name":"strip","params":[{"type":"str","value":"light"}]},{"name":"strip","params":[{"type":"str","value":"off"}]},{"name":"chompLeft","params":[{"type":"str","value":" "}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":330,"y":2160,"wires":[["7f8fee60.3ebd78","53df8aa7.8e7294"]]},{"id":"215c2d51.4e4e8a","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"5c22b51d.91138c","type":"mqtt-broker","name":"HASS","broker":"192.168.2.3","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
