node-red/norwegian_example.txt
[{"id":"caef844.01b8478","type":"api-call-service","z":"63623f95.3936","name":"Lys kontor 100% ","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.eriks_kontor_level_light_color_on_off","data":"{\"brightness\":\"254\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":340,"wires":[[]]},{"id":"97029b1e.28975","type":"api-call-service","z":"63623f95.3936","name":"Lys kontor off","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.eriks_kontor_level_light_color_on_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":740,"wires":[[]]},{"id":"6affa865.6a579","type":"mqtt in","z":"63623f95.3936","name":"","topic":"Mycroft/#","qos":"2","datatype":"json","broker":"5c22b51d.91138c","x":100,"y":120,"wires":[["a0ed7504.5df698"]]},{"id":"62189774.7392b8","type":"api-call-service","z":"63623f95.3936","name":"Lys gang100% ","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.gang_oppe_level_light_color_on_off","data":"{\"brightness\":\"254\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":400,"wires":[[]]},{"id":"b31cb876.f7fcf8","type":"api-call-service","z":"63623f95.3936","name":"Lys gang off","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.gang_oppe_level_light_color_on_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":800,"wires":[[]]},{"id":"dbcce7ce.d1bcc","type":"api-call-service","z":"63623f95.3936","name":"Okidoki","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"notify","service":"mycroft","entityId":"","data":"{\"message\": \"okey!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":780,"wires":[[]]},{"id":"a0ed7504.5df698","type":"switch","z":"63623f95.3936","name":"Regex 1. ledd","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^(slå|skru).på.*","vt":"str","case":true},{"t":"regex","v":"^(slå|skru).av.*","vt":"str","case":true},{"t":"regex","v":"^(skriv|sett|putt|legg.til).*","vt":"str","case":true},{"t":"regex","v":"^(fjern|ta.bort).*","vt":"str","case":true},{"t":"regex","v":"^(spill.nyheter).*","vt":"str","case":true},{"t":"regex","v":"^(hva.er).*","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":6,"x":260,"y":120,"wires":[["225b0baa.ca4ed4"],["13e071c1.e5beae"],["eb6117f8.f7a5a8"],["40924546.39c484"],["ddf2d19d.a82338"],["417179b.4bcce08"]]},{"id":"a2999410.8afa6","type":"switch","z":"63623f95.3936","name":"Regex device","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":".*(eriks.kontor|kontoret).*","vt":"str","case":true},{"t":"regex","v":".*(gangen|gangen.oppe).*","vt":"str","case":true},{"t":"regex","v":".*(filmlys|film.lys).*","vt":"str","case":true},{"t":"regex","v":".*(kveldslys|kveld.lys).*","vt":"str","case":true},{"t":"regex","v":".*(daglys|dagslys).*","vt":"str","case":true},{"t":"regex","v":".*(tv|tven|tv-en).*","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":6,"x":380,"y":420,"wires":[["caef844.01b8478"],["62189774.7392b8"],["4356faca.6a851c"],["b68fb872.207ce"],["cb53d5cc.f3803"],["817b6d5.edd9a9"]]},{"id":"ff749f72.f7978","type":"string","z":"63623f95.3936","name":"Fjern ikke-varer","methods":[{"name":"strip","params":[{"type":"str","value":"sett"}]},{"name":"strip","params":[{"type":"str","value":"putt"}]},{"name":"strip","params":[{"type":"str","value":"skriv opp"}]},{"name":"strip","params":[{"type":"str","value":"handlelisten"}]},{"name":"strip","params":[{"type":"str","value":"\""}]},{"name":"strip","params":[{"type":"str","value":"på"}]},{"name":"strip","params":[{"type":"str","value":"handleliste"}]},{"name":"strip","params":[{"type":"str","value":"legg "}]},{"name":"strip","params":[{"type":"str","value":"til"}]},{"name":"strip","params":[{"type":"str","value":"handlelista"}]},{"name":"strip","params":[{"type":"str","value":"skriv"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":180,"y":1320,"wires":[["b9eae0c5.f1a"]]},{"id":"53f77da6.8d41b4","type":"api-call-service","z":"63623f95.3936","name":"Sett på listen","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"shopping_list","service":"add_item","entityId":"","data":"{\"name\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":470,"y":1380,"wires":[["1cf92a45.111286"]]},{"id":"e843709e.75db8","type":"switch","z":"63623f95.3936","name":"Remove empty payloads","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^(?![\\s\\S])","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":1380,"wires":[[],["53f77da6.8d41b4"]]},{"id":"754e5b64.2a288c","type":"string","z":"63623f95.3936","name":"Captitalize","methods":[{"name":"capitalize","params":[]},{"name":"strip","params":[{"type":"str","value":"0"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":730,"y":1320,"wires":[["e843709e.75db8"]]},{"id":"b9eae0c5.f1a","type":"split","z":"63623f95.3936","name":"","splt":" og ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":350,"y":1320,"wires":[["1ed2cbe3.22c63c"]]},{"id":"1ed2cbe3.22c63c","type":"string","z":"63623f95.3936","name":"Remove lead/trail space","methods":[{"name":"chompLeft","params":[{"type":"str","value":" "}]},{"name":"chompLeft","params":[{"type":"str","value":" "}]},{"name":"chompRight","params":[{"type":"str","value":" "}]},{"name":"chompRight","params":[{"type":"str","value":" "}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":530,"y":1320,"wires":[["754e5b64.2a288c"]]},{"id":"ce772b75.2ff6a","type":"string","z":"63623f95.3936","name":"Fjern ikke-varer","methods":[{"name":"strip","params":[{"type":"str","value":"fjern"}]},{"name":"strip","params":[{"type":"str","value":"ta bort"}]},{"name":"strip","params":[{"type":"str","value":"handlelisten"}]},{"name":"strip","params":[{"type":"str","value":"\""}]},{"name":"strip","params":[{"type":"str","value":"fra"}]},{"name":"strip","params":[{"type":"str","value":"handleliste"}]},{"name":"strip","params":[{"type":"str","value":"legg til"}]},{"name":"strip","params":[{"type":"str","value":"handlelista"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":180,"y":1520,"wires":[["c2d39d5d.f89718"]]},{"id":"c2d39d5d.f89718","type":"split","z":"63623f95.3936","name":"","splt":" og ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":1520,"wires":[["50780bc0.171c04"]]},{"id":"a8a5b42f.d7402","type":"string","z":"63623f95.3936","name":"Captitalize","methods":[{"name":"capitalize","params":[]},{"name":"strip","params":[{"type":"str","value":"0"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":710,"y":1520,"wires":[["2411af12.ccbd5"]]},{"id":"50780bc0.171c04","type":"string","z":"63623f95.3936","name":"Remove lead/trail space","methods":[{"name":"chompLeft","params":[{"type":"str","value":" "}]},{"name":"chompLeft","params":[{"type":"str","value":" "}]},{"name":"chompRight","params":[{"type":"str","value":" "}]},{"name":"chompRight","params":[{"type":"str","value":" "}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":510,"y":1520,"wires":[["a8a5b42f.d7402"]]},{"id":"cfde7620.b3aaa","type":"api-call-service","z":"63623f95.3936","name":"Fjern fra listen","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"shopping_list","service":"complete_item","entityId":"","data":"{\"name\":\"{{payload}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":1440,"wires":[["979a110.d9ccff"]]},{"id":"53f2bb9d.9ae44c","type":"string","z":"63623f95.3936","name":"Fjern kommando","methods":[{"name":"strip","params":[{"type":"str","value":"skru"}]},{"name":"strip","params":[{"type":"str","value":"slå"}]},{"name":"strip","params":[{"type":"str","value":"på"}]},{"name":"strip","params":[{"type":"str","value":"lyset"}]},{"name":"strip","params":[{"type":"str","value":"av"}]},{"name":"chompLeft","params":[{"type":"str","value":" "}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":190,"y":780,"wires":[["5a5297db.7106c8","dbcce7ce.d1bcc"]]},{"id":"47d5de30.e82a9","type":"string","z":"63623f95.3936","name":"Fjern kommando","methods":[{"name":"strip","params":[{"type":"str","value":"skru"}]},{"name":"strip","params":[{"type":"str","value":"slå"}]},{"name":"strip","params":[{"type":"str","value":"på"}]},{"name":"strip","params":[{"type":"str","value":"lyset"}]},{"name":"strip","params":[{"type":"str","value":"av"}]},{"name":"chompLeft","params":[{"type":"str","value":" "}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":190,"y":500,"wires":[["a2999410.8afa6","12f7f3b9.6962a4"]]},{"id":"5a5297db.7106c8","type":"switch","z":"63623f95.3936","name":"Regex device","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":".*(eriks.kontor|kontoret|kontor).*","vt":"str","case":true},{"t":"regex","v":".*(gangen|gangen.oppe).*","vt":"str","case":true},{"t":"regex","v":".*(alt.lys).*","vt":"str","case":true},{"t":"regex","v":".*(tv|tven|tv-en).*","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":4,"x":380,"y":860,"wires":[["97029b1e.28975"],["b31cb876.f7fcf8"],["69a10253.6af56c"],["6e7332ee.36833c"]]},{"id":"2411af12.ccbd5","type":"switch","z":"63623f95.3936","name":"Remove empty payloads","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^(?![\\s\\S])","vt":"str","case":false},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":1440,"wires":[[],["cfde7620.b3aaa"]]},{"id":"282d4d95.e0fe3a","type":"string","z":"63623f95.3936","name":"Fjern kommando","methods":[{"name":"strip","params":[{"type":"str","value":"hva er"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":190,"y":1080,"wires":[["cd2790a0.c991"]]},{"id":"cd2790a0.c991","type":"switch","z":"63623f95.3936","name":"Regex device","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":".*(temperaturen.ute).*","vt":"str","case":true},{"t":"regex","v":".*(temperaturen.inne).*","vt":"str","case":true}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":1080,"wires":[["3f2cc8f8.656c4"],["f48d6f27.e6b2"]]},{"id":"3f2cc8f8.656c4","type":"api-current-state","z":"63623f95.3936","name":"Temp ute?","server":"215c2d51.4e4e8a","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.temperatur_ute","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":1080,"wires":[["c1a6bf1e.4f431"]]},{"id":"f48d6f27.e6b2","type":"api-current-state","z":"63623f95.3936","name":"Temp inne?","server":"215c2d51.4e4e8a","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.temperatur_inne","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":590,"y":1140,"wires":[["519a8a7d.aebb3c"]]},{"id":"6bdcb333.e0f054","type":"api-call-service","z":"63623f95.3936","name":"Temp ute","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"notify","service":"mycroft","entityId":"","data":"{\"message\":\"Temperaturen ute er {{payload}} grader\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":880,"y":1080,"wires":[[]]},{"id":"1f49456f.27aafb","type":"api-call-service","z":"63623f95.3936","name":"Temp inne","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"notify","service":"mycroft","entityId":"","data":"{\"message\":\"Temperaturen inne er {{payload}} grader\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":890,"y":1140,"wires":[[]]},{"id":"69a10253.6af56c","type":"api-call-service","z":"63623f95.3936","name":"Scene: alt lys oppe","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.scene_alt_lys_oppe_av","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":860,"wires":[[]]},{"id":"cb53d5cc.f3803","type":"api-call-service","z":"63623f95.3936","name":"Scene: Daglys","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.scene_daglys","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":580,"wires":[[]]},{"id":"4356faca.6a851c","type":"api-call-service","z":"63623f95.3936","name":"Scene: Filmlys","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.scene_filmlys","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":640,"y":460,"wires":[[]]},{"id":"b68fb872.207ce","type":"api-call-service","z":"63623f95.3936","name":"Scene: Kveldslys","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.scene_kveldslys","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":520,"wires":[[]]},{"id":"c74f79f0.bf1388","type":"api-call-service","z":"63623f95.3936","name":"Spill nyheter","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.spill_nyheter","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":170,"y":1140,"wires":[["6c418c63.21f22c"]]},{"id":"6c418c63.21f22c","type":"api-call-service","z":"63623f95.3936","name":"Okidoki","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"notify","service":"mycroft","entityId":"","data":"{\"message\": \"okey!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":340,"y":1140,"wires":[[]]},{"id":"74367cb0.ff369c","type":"api-call-service","z":"63623f95.3936","name":"Skru på TV","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_on","entityId":"media_player.samsung_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":640,"wires":[[]]},{"id":"817b6d5.edd9a9","type":"api-call-service","z":"63623f95.3936","name":"Skru på Apple TV","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"media_player","service":"media_play","entityId":"media_player.stua","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":640,"wires":[["74367cb0.ff369c"]]},{"id":"6e7332ee.36833c","type":"api-call-service","z":"63623f95.3936","name":"Skru av TV","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.samsung_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":690,"y":920,"wires":[[]]},{"id":"73c479d9.2adf7","type":"link in","z":"63623f95.3936","name":"","links":["40924546.39c484"],"x":55,"y":1520,"wires":[["ce772b75.2ff6a"]]},{"id":"40924546.39c484","type":"link out","z":"63623f95.3936","name":"","links":["73c479d9.2adf7"],"x":435,"y":160,"wires":[]},{"id":"8a4da6c2.0e2448","type":"link in","z":"63623f95.3936","name":"","links":["eb6117f8.f7a5a8"],"x":55,"y":1320,"wires":[["ff749f72.f7978"]]},{"id":"eb6117f8.f7a5a8","type":"link out","z":"63623f95.3936","name":"","links":["8a4da6c2.0e2448"],"x":435,"y":120,"wires":[]},{"id":"ad4cc7bc.db7368","type":"link in","z":"63623f95.3936","name":"","links":["13e071c1.e5beae"],"x":55,"y":780,"wires":[["53f2bb9d.9ae44c"]]},{"id":"13e071c1.e5beae","type":"link out","z":"63623f95.3936","name":"","links":["ad4cc7bc.db7368"],"x":435,"y":80,"wires":[]},{"id":"73631cb4.9fe8e4","type":"link in","z":"63623f95.3936","name":"","links":["225b0baa.ca4ed4"],"x":55,"y":500,"wires":[["47d5de30.e82a9"]]},{"id":"225b0baa.ca4ed4","type":"link out","z":"63623f95.3936","name":"","links":["73631cb4.9fe8e4"],"x":435,"y":40,"wires":[]},{"id":"e1f614f9.aa304","type":"link in","z":"63623f95.3936","name":"","links":["ddf2d19d.a82338"],"x":55,"y":1140,"wires":[["c74f79f0.bf1388"]]},{"id":"ddf2d19d.a82338","type":"link out","z":"63623f95.3936","name":"","links":["e1f614f9.aa304"],"x":435,"y":200,"wires":[]},{"id":"82d64415.c84368","type":"link in","z":"63623f95.3936","name":"","links":["417179b.4bcce08"],"x":55,"y":1080,"wires":[["282d4d95.e0fe3a"]]},{"id":"417179b.4bcce08","type":"link out","z":"63623f95.3936","name":"","links":["82d64415.c84368"],"x":435,"y":240,"wires":[]},{"id":"12f7f3b9.6962a4","type":"api-call-service","z":"63623f95.3936","name":"Okidoki","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"notify","service":"mycroft","entityId":"","data":"{\"message\": \"okey!\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":500,"wires":[[]]},{"id":"80a8e530.9e9c58","type":"comment","z":"63623f95.3936","name":"Turn things off","info":"","x":120,"y":720,"wires":[]},{"id":"a90ea789.f88c2","type":"comment","z":"63623f95.3936","name":"Turn things on","info":"","x":120,"y":400,"wires":[]},{"id":"b228fe7a.b87438","type":"comment","z":"63623f95.3936","name":"Report temperature","info":"","x":130,"y":1020,"wires":[]},{"id":"4de049da.57cac8","type":"comment","z":"63623f95.3936","name":"Manage shopping list","info":"","x":140,"y":1260,"wires":[]},{"id":"a8c9471d.6902","type":"comment","z":"63623f95.3936","name":"Route commands","info":"","x":120,"y":40,"wires":[]},{"id":"c1a6bf1e.4f431","type":"change","z":"63623f95.3936","name":"komma","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1080,"wires":[["6bdcb333.e0f054"]]},{"id":"519a8a7d.aebb3c","type":"change","z":"63623f95.3936","name":"komma","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1140,"wires":[["1f49456f.27aafb"]]},{"id":"1cf92a45.111286","type":"join","z":"63623f95.3936","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" og ","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":1380,"wires":[["daf8f313.18de38"]]},{"id":"daf8f313.18de38","type":"api-call-service","z":"63623f95.3936","name":"Added X ","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"notify","service":"mycroft","entityId":"","data":"{\"message\":\"Jeg har lagt til {{payload}} på handlelisten\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":760,"y":1380,"wires":[[]]},{"id":"979a110.d9ccff","type":"join","z":"63623f95.3936","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":" og ","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":1440,"wires":[["583e24ec.91586c"]]},{"id":"583e24ec.91586c","type":"api-call-service","z":"63623f95.3936","name":"Removed X ","server":"215c2d51.4e4e8a","version":1,"debugenabled":false,"service_domain":"notify","service":"mycroft","entityId":"","data":"{\"message\":\"Jeg har fjernet {{payload}} fra handlelisten\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":1440,"wires":[[]]},{"id":"215c2d51.4e4e8a","type":"server","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"5c22b51d.91138c","type":"mqtt-broker","name":"HASS","broker":"192.168.2.3","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
